/*soft resete do css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../imagens/gray-top-gradient-background.png");
    background-size:auto 100vh ;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    font-size: 12px;
}
/*se a tela tiver pelo menos 400px vair carregar estes estilos */
@media (min-width: 400px) {
    body{
        font-size: 14px;
    }
}

/*breakpoint */
@media (min-width: 600px) {
    body{
        font-size: 18px;
    }
}

/*breakpoint */
@media (min-width: 1200px) {
    body{
        font-size: 20px;
    }
}


header{
    /*isso para colocar o titulo e sub no centro*/
    height: 100vh;/*colocou altura de uma tela para so o titulo e sun*/
    display: flex;/*colocou ele flex*/
    justify-content: center;/*colocou ele no centro horizontamente*/
    align-items: center;/*colocou ele no centro virticalmente*/
}
/*Menu*/
.menu{
    background-color: rgb(84, 214, 214);
    position: fixed; /*deixar o menu fixo*/
    width: 100vw; /* colocar o menu no largura da tela*/  
    top: 0;/*colcoar o menu no top, essa propriedade pode usar apena junto ao position*/

}
.log{
    display: flex;
    justify-content: space-between;
}
.logo1{
    width: 200px;
}
.menu ul{
    display: flex;  /*Colocar em coluna*/
    /*coloca meio espasdo, so funcionando com flex*/
}

.menu li{
    list-style: none;/*tirar a bolinha da lista*/
}
.menu a{
    display: block;/*transformando o inline em blocl*/
    padding: 10px 40px;
    color: indigo;
    margin-left: 20px;
    margin-right: 20px;
}

a{
    color: black;
    text-decoration: none; /*tira sumbliado*/  
}

.site-sublitle,
.site-title{
    text-align: center;
    
    
}
.site-title{
    font-family: 'Kalam', cursive;
    font-size: 4em; /* 4em siginifica 4 vezes o tamanho*/
   
}

.site-sublitle{
    font-style: italic;
    font-family: 'Noto Serif', serif;
    line-height: 1.8em;
}

.portfolio{
    padding: 2em;
    height: 100vh;
}

.portfolio h2{
    font-family: 'Noto Serif', serif;
    margin-bottom: 1.5em;
    font-size: 2em;
    text-align: center;
}
.portfolio .grid{
    display: grid;
    gap: 2em;
}
@media(min-width: 560px){
    .portfolio .grid{
        grid-template-columns: 240px 240px;
    }
}

@media(min-width: 880px){
    .portfolio .grid{      
      grid-template-columns: repeat(3, 260px); /* uma função para repetir os 240px*/
      /*Colocar as imagens centralizada certinho*/
      align-content: center;
      justify-content: center;
      height: calc(100vh - 8em - 48px );
      
  }
}

.portfolio figure{
    text-align: center;
}


.img-portfolio{
    height: 180px;/*tamanho das imanges*/
    width: 240px;
    object-fit: cover;
    object-position: left bottom;
    border-radius: 10px;
}

@media(min-width: 1200px){
    .img-portfolio{
        height: 10em;
        width: 100%;
    }
}
